/* src/styles/BottomMenu.css */

  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    font-size: 12px;
  }
  
  .menu-item.active {
    color: var(--tg-theme-button-color);
  }