/* src/styles/BottomMenu.css */
.bottom-menu {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: none;
    color: var(--tg-theme-hint-color);
    font-size: 12px;
    cursor: pointer;
  }
  
  .menu-item.active {
    color: var(--tg-theme-button-color);
  }