/* src/styles/ProductList.css */
.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 12px;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--tg-theme-secondary-bg-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--tg-theme-hint-color);
  }
  
  .product-image {
    height: 120px;    
  }
  
  .product-info {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-top: 10px;
    color: var(--tg-theme-button-text-color);
  }
  
  .product-name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .product-price {
    font-size: 14px;
  }
  