/* src/styles/ProductList.css */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 16px;
    border-radius: 10px;
    /* background-color: var(--tg-theme-secondary-bg-color); */
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--tg-theme-section-bg-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    height: 80px;    
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-top: 10px;
  }
  
  .product-name {
    font-size: 12px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
  }
  
  .product-name-price-wrapper {    
    font-size: 12px;
    color: var(--tg-theme-text-color);
    display: flex;
    justify-content: space-between;
  }
  
  .product-price {
    font-size: 12px;
    font-weight: bold;
    color: var(--tg-theme-accent-text-color);
  }