.app {
  box-sizing: border-box;
  position: relative;
}
.app-container {
  position: relative;
  top: var(--tg-content-safe-area-inset-top);
  bottom: var(--tg-content-safe-area-inset-bottom);
  right: var(--tg-content-safe-area-inset-right);
  left: var(--tg-content-safe-area-inset-left);
  height: 97vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: red;
  border: 5px solid;
}
