.app {
  position: relative;
  top: var(--tg-safe-area-inset-top);
  bottom: var(--tg-safe-area-inset-bottom);
  right: var(--tg-safe-area-inset-right);
  left: var(--tg-safe-area-inset-left);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  position: relative;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
