
.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding-bottom: calc(var(--lvh, 100vh) - var(--tg-viewport-height, 100vh));
  padding-top: calc(var(--tg-safe-area-inset-top, 0px) + var(--tg-content-safe-area-inset-top, 0px));
  background: url("/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;
}
