.product-details {
    position: relative;
    text-align: center;
    margin: 10px;
  }
  
  .product-details-image {
    margin: 0 auto;
    height: 140px;
    border-radius: 10px;
  }
  
  .product-details-name {
    color: var(--tg-theme-text-color);
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-details-price {
    font-weight: bold;
    color: var(--tg-theme-text-color);
    font-size: 20px;
  }

  .product-details-price span {
    font-weight: bold;
    color: var(--tg-theme-accent-text-color);
    font-size: 20px;
  }
  
  .product-details-description {
    margin-top: 10px;
    font-size: 16px;
    color: var(--tg-theme-text-color);
    white-space: pre-wrap;
  }
  .close {
    position: absolute;
    top: -10px;
    right: 0px;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
    color: var(--tg-theme-text-color);
    cursor: pointer;
  }
  .product-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .product-dec-button, .product-inc-button {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .product-quantity {
    height: 30px;
    width: 40px;
    text-align: center;
    margin: 0px 5px;
    background-color: var(--tg-theme-secondary-bg-color);
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;
    color:var(--tg-theme-text-color);
  }
  .product-add-to-cart {
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    bottom: var(--tg-content-safe-area-inset-bottom);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border-radius: 30px;
    height: 40px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
  }
